<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donation</title>
    <!-- Load Stripe.js on your website. -->
    <script src="https://js.stripe.com/v3"></script>

    <!-- $5:00 script -->
    <script>
        (function() {
            var stripe = Stripe('pk_test_853qy8se4d90x2LxszV5GAi700pL7qNzqY');

            var checkoutButton = document.getElementById('checkout-button-price_1GtQE4ECm5TjDc1IKn99R8M7');
            checkoutButton.addEventListener('click', function () {
                // When the customer clicks on the button, redirect
                // them to Checkout.
                stripe.redirectToCheckout({
                    lineItems: [{price: 'price_1GtQE4ECm5TjDc1IKn99R8M7', quantity: 1}],
                    mode: 'payment',
                    // Do not rely on the redirect to the successUrl for fulfilling
                    // purchases, customers may not always reach the success_url after
                    // a successful payment.
                    // Instead use one of the strategies described in
                    // https://stripe.com/docs/payments/checkout/fulfillment
                    successUrl: '/success',
                    cancelUrl: '/canceled',
                })
                    .then(function (result) {
                        if (result.error) {
                            // If `redirectToCheckout` fails due to a browser or network
                            // error, display the localized error message to your customer.
                            var displayError = document.getElementById('error-message');
                            displayError.textContent = result.error.message;
                        }
                    });
            });
        })();
    </script>

   <!-- $10.00 script -->

    <script>
        (function() {
            var stripe = Stripe('pk_test_853qy8se4d90x2LxszV5GAi700pL7qNzqY');

            var checkoutButton = document.getElementById('checkout-button-price_1GtQEmECm5TjDc1I9oCyqzyd');
            checkoutButton.addEventListener('click', function () {
                // When the customer clicks on the button, redirect
                // them to Checkout.
                stripe.redirectToCheckout({
                    lineItems: [{price: 'price_1GtQEmECm5TjDc1I9oCyqzyd', quantity: 1}],
                    mode: 'payment',
                    // Do not rely on the redirect to the successUrl for fulfilling
                    // purchases, customers may not always reach the success_url after
                    // a successful payment.
                    // Instead use one of the strategies described in
                    // https://stripe.com/docs/payments/checkout/fulfillment
                    successUrl: '/success',
                    cancelUrl: '/canceled',
                })
                    .then(function (result) {
                        if (result.error) {
                            // If `redirectToCheckout` fails due to a browser or network
                            // error, display the localized error message to your customer.
                            var displayError = document.getElementById('error-message');
                            displayError.textContent = result.error.message;
                        }
                    });
            });
        })();
    </script>

<!-- $50:00 script -->
    <script>
        (function() {
            var stripe = Stripe('pk_test_853qy8se4d90x2LxszV5GAi700pL7qNzqY');

            var checkoutButton = document.getElementById('checkout-button-price_1GtQG9ECm5TjDc1IDIvmyrhh');
            checkoutButton.addEventListener('click', function () {
                // When the customer clicks on the button, redirect
                // them to Checkout.
                stripe.redirectToCheckout({
                    lineItems: [{price: 'price_1GtQG9ECm5TjDc1IDIvmyrhh', quantity: 1}],
                    mode: 'payment',
                    // Do not rely on the redirect to the successUrl for fulfilling
                    // purchases, customers may not always reach the success_url after
                    // a successful payment.
                    // Instead use one of the strategies described in
                    // https://stripe.com/docs/payments/checkout/fulfillment
                    successUrl: 'https://your-website.com/success',
                    cancelUrl: 'https://your-website.com/canceled',
                })
                    .then(function (result) {
                        if (result.error) {
                            // If `redirectToCheckout` fails due to a browser or network
                            // error, display the localized error message to your customer.
                            var displayError = document.getElementById('error-message');
                            displayError.textContent = result.error.message;
                        }
                    });
            });
        })();
    </script>


    <!-- Monthly recurrent script -->
    <script>
        (function() {
            var stripe = Stripe('pk_test_853qy8se4d90x2LxszV5GAi700pL7qNzqY');

            var checkoutButton = document.getElementById('checkout-button-price_1GtQGvECm5TjDc1IFaRIJpCx');
            checkoutButton.addEventListener('click', function () {
                // When the customer clicks on the button, redirect
                // them to Checkout.
                stripe.redirectToCheckout({
                    lineItems: [{price: 'price_1GtQGvECm5TjDc1IFaRIJpCx', quantity: 1}],
                    mode: 'subscription',
                    // Do not rely on the redirect to the successUrl for fulfilling
                    // purchases, customers may not always reach the success_url after
                    // a successful payment.
                    // Instead use one of the strategies described in
                    // https://stripe.com/docs/payments/checkout/fulfillment
                    successUrl: '/success',
                    cancelUrl: '/canceled',
                })
                    .then(function (result) {
                        if (result.error) {
                            // If `redirectToCheckout` fails due to a browser or network
                            // error, display the localized error message to your customer.
                            var displayError = document.getElementById('error-message');
                            displayError.textContent = result.error.message;
                        }
                    });
            });
        })();
    </script>


</head>

<body>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
        style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
        id="checkout-button-price_1GtQE4ECm5TjDc1IKn99R8M7"
        role="link"
>
    Checkout
</button>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
        style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
        id="checkout-button-price_1GtQEmECm5TjDc1I9oCyqzyd"
        role="link"
>
    Checkout
</button>


<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
        style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
        id="checkout-button-price_1GtQG9ECm5TjDc1IDIvmyrhh"
        role="link"
>
    Checkout
</button>



<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
        style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
        id="checkout-button-price_1GtQGvECm5TjDc1IFaRIJpCx"
        role="link"
>
    Checkout
</button>

<div id="error-message"></div>

</body>
</html>